/* Base Style */

* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 115%;
    color: var(--black);
}