body {
  height: 1024px;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  background: var(--color-white);
}


/* ---------------------------------------------- */
/* 헤더                                            */
/* ---------------------------------------------- */

header.header {
  border-bottom: 1px solid var(--color-gray-100);
  user-select: none;
}

.header__inner {
  width: 1200px;
  height: 117px;
  margin: 0 auto;
}

button.button--category {
  width: 110px;
  height: 116px;
  border: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  color: var(--color-white);
  background-color: var(--color-blue-600);
}

.button--category:focus {
  border-radius: 4px;
  border: 1px solid var(--red-500, #E52330);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* ---------------------------------------------- */
/* 내비게이션                                        */
/* ---------------------------------------------- */

nav.navigation {
  width: 1200px;
  height: 520px;
  margin: 0 auto;
  display: none;
  user-select: none;
}

.navigation.is--active {
  display: block;
}

.navigation__inner {
  width: 1020px;
  padding: 0px 480px 20px 0px;
  position: relative;
}

ul.navigation__list {
  width: 180px;
  height: 500px;
  margin: 0;
  padding: 10px 5px;
  list-style: none;
  background: var(--color-white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.navigation__list.depth-two,
.navigation__list.depth-three {
  position: absolute;
  top: 0;
  left: 180px;
  display: none;
}

.navigation__list.is--active {
  display: block;
}

li.navigation-list-item {
  width: 170px;
  height: 30px;
  padding: 1px 0px 1px 20px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.navigation-list-item i {
  font-size: 20px;
}

.navigation-list-item a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

a.navigation-item-button {
  gap: 4px;
  cursor: pointer;
}

/* ---------------------------------------------- */
/* 메인 콘텐츠                                       */
/* ---------------------------------------------- */
/* 메인 콘텐츠 영역의 최소 높이 설정 */
.main {
  min-height: 52rem;
}


/* ---------------------------------------------- */
/* 푸터                                            */
/* ---------------------------------------------- */

.footer-menu {
  height: 40px;
  background: var(--color-gray-200);
}

.footer-menu-bar {
  width: 1006px;
  height: 35px;
  margin: 3px auto 2px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  user-select: none;
}

.footer-menu-item {
  color: var(--color-gray-800);
  cursor: pointer;
}

.footer-info {
  height: 207px;
}

.footer-info-layout {
  width: 1200px;
  height: 143px;
  margin: 32px auto;
  padding-right: 2px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 63px;
  color: var(--color-gray-800);
  font-size: 16px;
  line-height: 120%;
}

.footer-logo {
  width: 176px;
  height: 40px;
  background-image: url(../../assets/logo/logo-mono.svg);
  text-indent: 500%;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.footer-business-info {
  width: 260px;
  height: 143px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 15.8px;
  line-height: 120%;
}

.footer-business-info li {
  width: 260px;
}

.footer-customer-center {
  width: 293px;
  height: 143px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-customer-center-one {
  height: 19px;
  display: flex;
  justify-content: space-between;
}

.footer-customer-center-one-text-one {
  font-weight: 700;
}

.footer-customer-center-one-text-two {
  padding-left: 15px;
  border-left: 1px solid var(--color-gray-800);
}

.footer-customer-center-two {
  width: 246px;
  height: 58px;
  margin-bottom: 4px;
  font-size: 48px;
  font-weight: 700;
  line-height: 120%;
}

.footer-customer-center-three,
.footer-customer-center-four {
  height: 19px;
}

.footer-payment-guarantee {
  width: 282px;
  height: 84px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-payment-guarantee p {
  margin: 0;
}

.footer-payment-guarantee-title {
  font-weight: 700;
}