/* Theme */

:root {
    --font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    --font-weight-light: 400;
    --font-weight-normal: 600;
    --font-size-sml: 12px;
    --font-size-mdm: 14px;
    --color-white: rgb(255, 255, 255);
    --color-pink: rgb(255, 56, 92);
    --color-gray-100: rgb(247, 247, 247);
    --color-gray-200: rgb(221, 221, 221);
    --color-gray-500: rgb(113, 113, 113);
    --color-gray-900: rgb(34, 34, 34);
    --color-black: rgb(0, 0, 0);
    --color-transparent: rgba(0, 0, 0, 0);
    --color-gray-transparent: rgba(0, 0, 0, 0.18);
}