/* Airbnb Main Page Style */

.container {
    width: 100%;
    height: 5000px;
}


// Release Section

.new-release {
    width: 100%;
    height: 64px;
    background-color: var(--color-gray-100);
    display: flex;
    flex-direction: column;
    align-items: center;

    .new-release-link {
        width: auto;
        height: auto;
        margin: auto 8px;
        padding: 8px;
        background-color: inherit;
    }

    .new-release-text {
        background-color: inherit;
        font-size: var(--font-size-lrg);
        font-weight: 500;
        line-height: 20px;
        text-decoration-line: underline;
        text-underline-offset: 2px;
    }

    &::after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: var(--color-gray-200);
    }
}


// Header

.main-header {
    width: 100%;
    height: 80px;
    padding: 0 40px;
    display: flex;
    align-items: center;
    // justify-content: center;
}

.logo-heading {
    width: auto;
    height: 80px;
    color: var(--color-pink);
    fill: var(--color-pink);
    flex-basis: 140px;
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;

    .logo-link {
        width: 30px;
        height: 80px;
        color: var(--color-pink);
        fill: var(--color-pink);
        background-image: url('../../assets/logo/airbnb-logo.svg');
        background-size: 30px 32px;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.search-bar {
    width: 350px;
    height: 46px;
    border: 1px solid var(--color-gray-200);
    border-radius: 40px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.2s var(--transition-timing-function);
    flex-grow: 0;
    flex-shrink: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover {
        box-shadow: 0 2px 4px var(--color-gray-transparent);
    }

    button {
        width: 90px;
        height: 40px;
        background-color: var(--color-transparent);
        font-size: var(--font-size-mdm);
        line-height: 22px;
        flex-grow: 1;
        cursor: pointer;
    }

    .search-place {
        margin-left: 7px;
    }

    .search-place,
    .search-date {
        font-weight: 500;
    }

    .search-guest {
        color: var(--color-gray-500);
    }

    .search-button {
        width: 32px;
        height: 32px;
        margin: 7px 7px 7px 0;
        padding: 10px;
        border-radius: 50%;
        background-image: url('../../assets/images/search.svg');
        background-size: 12px 12px;
        background-repeat: no-repeat;
        background-position: center;
        background-color: var(--color-pink);
        flex-grow: 0;
    }

    .search-bar-divider {
        width: 1px;
        height: 24px;
        background-color: var(--color-gray-200);
    }
}

.profile {
    width: auto;
    height: 80px;
    flex-basis: 140px;
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .host-home {
        padding: 12px;

        .host-home-text {
            height: 18px;
            font-size: var(--font-size-mdm);
            font-weight: 500;
            line-height: 18px;
        }
    }

    .country {
        width: 40px;
        height: 42px;
        margin: 0 8px 0 0;
        padding: 12px;
        background-color: var(--color-transparent);
        background-image: url(../../assets/images/globe.svg);
        background-size: 16px 16px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    .profile-menu {
        width: 86px;
        height: 48px;
        padding: 8px 8px 8px 14px;
        border: 1px solid var(--color-gray-200);
        border-radius: 30px;
        background-color: var(--color-transparent);
        display: flex;
        align-items: center;
        gap: 14px;
        cursor: pointer;

        .profile-menu-img-hamburger {
            width: 16px;
            height: 16px;
            background-image: url(../../assets/images/hamburger.svg);
            background-size: 16px 16px;
        }

        .profile-menu-img-account {
            width: 32px;
            height: 32px;
            background-image: url(../../assets/images/account.svg);
            background-size: 32px 32px;
        }
    }
}