/* 카테고리별 추천 광고상품 */

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}

.container {
    width: 1020px;
    height: 1480px;
    margin: 100px auto;
}


/* header */

header {
    margin: 0 0 48px 11px;
}

header h1.logo {
    margin: 0;
}


/* section */

section#category {
    width: 1020px;
    height: 1376px;
}

.section-title {
    margin: 0 0 24px 2px;
}

.section-title h3,
.section-title h2 {
    margin: 0;
    font-style: normal;
    line-height: 115%;
}

.section-title h3 {
    font-size: 16px;
    font-weight: 500;
}

.section-title h2 {
    font-size: 24px;
    font-weight: 700;
}

.section-title h2 #title-blue {
    color: var(--color-blue-600);
}

.section-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}


/* article */

.section-content article {
    width: 1020px;
    height: 634px;
    display: flex;
}

article.living {
    border-top: 1.5px solid var(--color-brown-300);
    border-bottom: 1.5px solid var(--color-brown-300);
}

article.kitchen {
    border-top: 1.5px solid var(--color-green-700);
    border-bottom: 1.5px solid var(--color-green-700);
}


/* article info */

.info {
    width: 174px;
    padding: 28px 24px;
}

.info h3 {
    margin: 20px 0 8px;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 115%;
}

.living-info h3 {
    color: var(--color-brown-300);
}

.kitchen-info h3 {
    color: var(--color-green-700);
}

.link {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    color: var(--color-gray-700);
    background-image: url(../../assets/icon/angle-right-default.svg);
    background-repeat: no-repeat;
    background-position: top 56% left 48%;
}

.hashtag-title {
    margin: 232px 0 20px 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 115%;
}

.hashtags {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.living-hashtags {
    color: var(--color-brown-300);
}

.kitchen-hashtags {
    color: var(--color-green-700);
}

.hashtag {
    width: max-content;
    padding: 6px 10px;
    border: 1px solid var(--color-gray-400);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}


/* article banner */

.banner {
    width: 320px;
    height: 631px;
}

.carousel-item {
    width: 100%;
    height: 100%;
    position: relative;
}

.living-banner-one {
    background-image: url(../../assets/slides/houseware-downy.jpg);
}

.living-banner-two {
    background-image: url(../../assets/slides/houseware-dandruff.jpg);
    display: none;
}

.kitchen-banner-one {
    background-image: url(../../assets/slides/kitchenware-tumbler.jpg);
}

.kitchen-banner-two {
    background-image: url(../../assets/slides/kitchenware-lunchbox.jpg);
    display: none;
}

.banner-caption {
    width: 260px;
    height: 90px;
    padding: 19px 22px 20px 23px;
    position: absolute;
    bottom: 58px;
    left: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.living-caption {
    background: var(--color-brown-300);
}

.kitchen-caption {
    background: var(--color-green-700);
}

.banner-caption p {
    margin: 0;
    font-style: normal;
    line-height: 120%;
    color: var(--color-white);
}

.banner-caption-heading {
    font-size: 18px;
    font-weight: 700;
}

.banner-caption-text {
    font-size: 14px;
    font-weight: 400;
}

.banner-indicator {
    position: absolute;
    bottom: 22px;
    left: 144px;
    display: flex;
    gap: 8px;
}


/* article products */

.products {
    width: 526px;
    height: 631px;
    display: flex;
    flex-direction: column;
}

.products-col {
    width: 100%;
    height: 50%;
}

.products-col:first-child::after {
    content: url("../../assets/icon/product-card-divider.svg");
    width: 528px;
    height: 2px;
    position: absolute;
    font-size: 0;
}

.products-row {
    margin: 8px 16px;
    display: flex;
    gap: 16px;
}

.product-card {
    width: 160px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.product-img {
    width: 160px;
    height: 160px;
}

.product-description {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.product-name,
.product-discount,
span.won {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.product-pricing {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.product-discount {
    color: var(--color-red-500);
}

.product-price-delivery {
    display: flex;
    align-items: baseline;
    gap: 6px;
}

.product-price {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.product-rocket {
    width: 54px;
    height: 14px;
}