@charset "utf-8";

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.heading {
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 500;
    color: #8cb9bd;
}

.webrtc {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.hide {
    display: none;
}

.videoWrap video {
    width: calc(400px * (16 / 9));
    height: 400px;
}

.btnWrap {
    display: flex;
    gap: 10px;
}

.btnWrap button {
    width: 160px;
    height: 60px;
    border-radius: 8px;
    border: 0;
    outline: 0;
    font-size: 20px;
    color: aliceblue;
    background-color: #8cb9bd;
    transition: filter 200ms;
    cursor: pointer;
}

.btnWrap button:hover {
    filter: brightness(1.1);
}
