// ---------------------------------- Global ---------------------------------- //

a:focus-visible {
    outline: 2px solid rgb(47, 129, 247);
}

.sr_only {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    border: 0;
    clip: rect(0, 0, 0, 0);
}

.hoverButton {
    padding: 8px;
    border: 1px solid transparent;
    border-radius: 6px;
    cursor: pointer;

    &:hover {
        background-color: rgba(177, 186, 196, 0.12);
    }
}

// ---------------------------------- Header ---------------------------------- //

.Header {
    width: 100vw;
    height: 104px;
    background-color: rgb(1, 4, 9);
    box-shadow: rgb(48, 54, 61) 0px -1px 0px 0px inset;
    color: rgb(230, 237, 243);
    font-size: 14px;
    line-height: 21px;
    overflow-wrap: break-word;
    text-size-adjust: 100%;
}

.headerBars {
    width: 100%;
}

.globalBar {
    @extend .headerBars;
    height: 56px;
    padding: 16px 16px 8px 16px;
    display: flex;
    gap: 12px;

    .globalBar_start {
        flex: 1 1 auto;
        display: flex;
        gap: 8px;
        height: 100%;

        .globalBar__sidePanel {
            width: 32px;
            height: 32px;
            border: 1px solid rgb(48, 54, 61);
            border-radius: 6px;
            background-color: rgb(1, 4, 9);
            cursor: pointer;

            &:hover {
                border-color: rgb(139, 148, 158);
            }

            &:focus-visible {
                outline: 2px solid rgb(47, 129, 247);
            }

            .globalBar__burgerMenu {
                width: 20px;
                height: 20px;
                padding-top: 2px;
                background-color: rgb(1, 4, 9);
            }
        }

        .globalBar__homeButton {
            margin-left: 8px;

            .globalBar__githubIcon {
                width: 32px;
                height: 32px;
            }
        }

        .globalBar__breadcrumb {
            display: flex;
            align-items: center;
            font-weight: 500;

            .repos {
                @extend .hoverButton;
            }

            .seperator {
                color: rgb(132, 141, 151);
            }

            .currentRepos {
                @extend .repos;
                font-weight: bold;
            }
        }
    }

    .globalBar_end {
        flex: 0 1 auto;
        display: flex;
        justify-content: flex-end;
        height: 100%;
        max-height: 32px;
    }
}

.localBar {
    @extend .headerBars;
    height: 48px;
    padding: 0 16px;

    .localBar_nav {
        width: 100%;
        height: 100%;
        padding-top: 8px;

        .localBar__navList {
            display: flex;
            gap: 8px;

            .localBar__navItem {
                @extend .hoverButton;
                list-style: none;
                display: flex;
                align-items: center;
                width: auto;
                height: 30px;
                font-weight: 500;

                .icon {
                    width: 18px;
                    height: 18px;
                    margin-right: 6px;
                }
            }

            .localBar__navItem__current {
                @extend .localBar__navItem;
                font-weight: bold;
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    bottom: -11px;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    border-bottom: 2px solid rgb(247, 129, 102);
                }

                span {
                    width: 20px;
                    height: 20px;
                    margin-left: 8px;
                    border-radius: 24px;
                    background-color: rgba(110, 118, 129, 0.4);
                    font-size: 12px;
                }
            }
        }
    }
}

// ---------------------------------- Issue ---------------------------------- //

.Issue {
    width: 100vw;
    height: auto;
    padding: 0 32px;
    margin-top: 24px;
}

.issueMenu {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 32px;
    margin-bottom: 16px;

    .issueMenu_search {
        display: flex;
        justify-content: flex-start;
        width: 100%;

        .issueMenu__filterButton {
            display: flex;
            align-items: center;
            gap: 8px;
            min-width: max-content;
            height: 32px;
            padding: 0 12px;
            border: 1px solid rgb(48, 54, 61);
            border-right: 0;
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
            background-color: rgb(33, 38, 45);
            color: rgb(201, 209, 217);
            font-weight: 500;
            font-size: 14px;
            cursor: pointer;

            &:hover {
                background-color: rgb(48, 54, 61);
            }

            .issueMenu__filterIcon {
                font-size: 10px;
            }
        }

        .issueMenu__searchForm {
            position: relative;
            width: 100%;

            .issueMenu__searchInput {
                width: 100%;
                height: 32px;
                padding: 5px 12px 5px 32px;
                border: 1px solid rgb(48, 54, 61);
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;
                background-color: rgb(1, 4, 9);
                color: rgb(132, 141, 151);
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                text-align: start;

                &:focus {
                    border-color: rgb(47, 129, 247);
                }
            }

            .issueMenu__searchIcon {
                position: absolute;
                left: 10px;
                top: 8px;
                color: rgb(132, 141, 151);
                font-size: 14px;
            }
        }
    }

    .issueMenu_newIssue {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: max-content;
        height: 32px;
        border: 1px solid rgba(240, 246, 252, 0.1);
        border-radius: 6px;
        padding: 0 12px;
        margin-left: 16px;
        background-color: rgb(35, 134, 54);
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
    }
}

// ---------------------------------- Footer ---------------------------------- //

.Footer {
    width: 100vw;
    height: 130px;
    padding: 64px 16px 40px;

    .footer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        color: rgb(132, 141, 151);
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
    }
}

.footer_title {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    height: 24px;
    margin: 0 8px;

    .footer__icon {
        margin-right: 8px;
        img {
            width: 24px;
            height: 24px;
        }
    }
}

.footer_nav {
    height: 18px;

    .footer__navList {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        list-style: none;

        .footer__navItem {
            margin: 0 8px;

            a {
                &:focus {
                    text-decoration-line: underline;
                }

                &:hover {
                    color: rgb(47, 129, 247);
                    text-decoration-color: rgb(47, 129, 247);
                    text-decoration-line: underline;
                }
            }
        }
    }
}
