* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    color: inherit;
    outline-color: inherit;
    text-decoration-color: inherit;
    text-decoration: none;
    list-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
    line-height: 1.2;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

body {
    width: 100%;
    height: 100vh;
    padding: 20px;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    margin: 20px;
}

button {
    width: 100px;
    height: 40px;
    margin: 20px;
    border-radius: 6px;
    background-color: royalblue;
    color: #fff;
    cursor: pointer;
}

section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    width: 80%;
    margin: 40px;
}

.loading {
    align-items: center;
}

.loading span {
    font-size: 24px;
}

.edit > * {
    width: 100%;
}

.edit h3 {
    font-size: 20px;
    font-weight: 500;
}

.edit span {
    margin-left: 10px;
}

.edit form label {
    font-size: 20px;
    font-weight: 500;
}

.edit form input {
    width: 60%;
    padding: 4px 10px;
    border: 1px solid lightgray;
    border-radius: 6px;
    margin-left: 10px;
    font-size: 20px;
    transition: border 300ms;
}

.edit form input:focus {
    border-color: royalblue;
}
