button {
  border: 0;
  outline: none;
  cursor: pointer;
}

.modal_open_button {
  width: 180px;
  height: 60px;
  margin: 0 auto;
  display: block;
  background-color: #E6A4B4;
  color: #fff;
  font-size: 20px;
  margin-top: 10px;
  border-radius: 8px;
}

.box {
  width: 600px;
  height: 400px;
  margin: 16px auto;
  background-color: #F5EEE6;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(0 0 0 / 50%);
  height: 100%;
  overflow: hidden;
}

.modal_wrap {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: auto;
  padding: 24px;
  background-color: #fff;
  border-radius: 12px;
}

.modal_wrap hr {
  border: 0.5px solid #A9A9A9;
}

.modal_header {
  font-size: 24px;
  padding: 4px 0;
  margin-bottom: 12px;
}

.modal_body {
  font-size: 16px;
  line-height: 1.5;
  padding: 8px 0;
  margin-bottom: 24px;
}

.modal_footer {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
}

.modal_button {
  width: 48%;
  height: 48px;
  border-radius: 10px;
  font-size: 18px;
  color: #fff;
}

.modal_button.cancel {
  margin-right: 4px;
}

.modal_button.confirm {
  margin-left: 4px;
  background-color: #E6A4B4;
}