@charset "utf-8";

.sr_only {
    text-indent: -9999px;
    overflow: hidden;
}

body {
    background: #000;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #000;
    color: #fff;
}

h1 {
    align-self: start;
    margin: 40px 0 0 54px;
    padding: 10px;
    font-size: 30px;
    font-weight: 500;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: calc(100vw - 100px);
    height: calc(100vh - 90px);
}

.search_bar {
    display: flex;
    align-items: center;
    width: 400px;
    height: 40px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.search_bar input {
    width: calc(100% - 56px);
    height: 100%;
    padding-left: 20px;
    border: 1px solid #303030;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background: #000;
    caret-color: #fff;
    color: #fff;
    font-size: 16px;
}

.search_bar input:focus {
    border-color: #065fd4;
    outline: none;
}

.search_bar label {
    display: block;
    width: 56px;
    height: 100%;
}

.search_bar label .btn_search {
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid #303030;
    border-left: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 8px;
    padding-left: 4px;
    background: #1a1a1a;
    cursor: pointer;
}

.search_bar label .btn_search:hover {
    background: #222222;
}

.search_bar label .btn_search svg {
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.search_bar label .btn_search svg path {
    fill: #fff;
}

.contents {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.contents::-webkit-scrollbar {
    display: none;
}

.contents figure {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 0 0 23%;
    margin: 1%;
}

.contents figure .btn_view {
    flex: none;
    width: 100%;
    position: relative;
}

.contents figure .btn_view::before {
    content: '';
    display: block;
    width: 100%;
    padding-top: 56.25%;
    /* 16:9 ratio (w 16 100%, h 9 56.25%) */
}

.contents figure .btn_view picture {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    transition: filter 0.3s;
}

.contents figure .btn_view picture:hover {
    filter: brightness(1.2);
}

.contents figure figcaption {
    display: flex;
    align-items: flex-start;
    padding: 12px 5px 30px;
    cursor: pointer;
}

.contents figure figcaption i {
    flex-shrink: 0;
    display: block;
    width: 36px;
    height: 36px;
    margin-right: 12px;
    border-radius: 50%;
    overflow: hidden;
}

.contents figure figcaption i img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.contents figure figcaption .description {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contents figure figcaption .description .video_title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.contents figure figcaption .description .channel_name,
.contents figure figcaption .description .video_info {
    font-size: 12px;
    color: #b2b2b2;
    transition: color 0.3s;
}

.contents figure figcaption .description .channel_name:hover {
    color: #fff;
}

@media (min-width: 1440px) {
    .contents figure {
        flex: 0 0 18%;
    }
}

@media (max-width: 1024px) {
    .contents figure {
        flex: 0 0 31.333%;
    }
}

@media (max-width: 800px) {
    .contents figure {
        flex: 0 0 48%;
    }
}

@media (max-width: 480px) {
    .contents figure {
        flex: 0 0 98%;
    }
}