body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

header,
section {
  position: relative;
}