@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-hex: #2b2b2b;
    --background-hex: #fcfcfc;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-hex: #fcfcfc;
        --background-hex: #2b2b2b;
    }
}

body {
    color: var(--foreground-hex);
    background: var(--background-hex);
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
