@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600&display=swap');

$font-stack: 'Fira Sans', sans-serif;

$gray-000: #f9f9f9;
$gray-100: #f2f2f2;
$gray-200: #d9d9d9;
$gray-300: #8c8c8c;
$gray-400: #595959;
$gray-500: #404040;

$theme: #a4c3b2;
$important: #f9dc5c;
