@use 'theme';

:root {
    font-family: theme.$font-stack;
    line-height: 1.2;
    font-weight: 400;

    color-scheme: light;
    color: theme.$gray-500;
    background-color: theme.$gray-100;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    color: inherit;
    outline-color: inherit;
    text-decoration-color: inherit;
    text-decoration: none;
    list-style: none;
    font-family: theme.$font-stack;
    line-height: 1.2;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

body {
    min-width: 320px;
    min-height: 100vh;
    color: theme.$gray-500;
    background-color: theme.$gray-100;
}

#root {
    width: 100%;
    height: 100%;
}

@media (prefers-color-scheme: dark) {
    :root {
        color: theme.$gray-100;
        background-color: theme.$gray-500;
    }
}
