@use 'theme';

.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    height: 100%;
    padding: 20px 20px 60px;
    margin: 0 auto;
}

.heading {
    margin: 40px auto;
    font-weight: 600;
    font-size: 48px;
    letter-spacing: 4px;
    color: theme.$gray-400;
}

.form {
    display: flex;
    align-items: center;
    gap: 14px;
    min-width: 360px;
    width: 90%;
    height: 50px;

    .input {
        flex-grow: 1;
        min-width: 280px;
        height: 50px;
        padding: 10px;
        border: 1px solid theme.$gray-200;
        border-radius: 6px;
        font-size: 20px;
        color: theme.$gray-500;
        background-color: theme.$gray-000;
        transition: all 200ms, border 0s;

        &:hover {
            box-shadow: 0 0 5px 0.2px theme.$theme;
        }

        &:focus {
            border: 2px solid theme.$theme;
            box-shadow: none;
        }
    }

    .inputButton {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 50px;
        border-radius: 6px;
        color: theme.$gray-000;
        fill: theme.$gray-000;
        background-color: theme.$theme;
        transition: all 200ms;
        cursor: pointer;

        &:hover {
            fill: theme.$theme;
            background-color: theme.$gray-000;
            border: 1px solid theme.$theme;
            box-shadow: 0 0 5px 0.5px theme.$theme;
        }

        svg {
            width: 24px;
            height: 24px;
        }
    }
}

main {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    margin: 20px 0;

    .filterCount {
        font-size: 16px;
        font-weight: 500;
        color: theme.$gray-500;
    }

    .filterList {
        display: flex;
        gap: 4px;

        .filterButton {
            width: 100px;
            height: 36px;
            border: 1px solid theme.$theme;
            border-radius: 18px;
            font-size: 15px;
            color: theme.$theme;
            background-color: theme.$gray-000;
            transition: all 200ms;
            cursor: pointer;

            &:hover {
                border-color: theme.$important;
                box-shadow: 0 0 3px 0.01px theme.$important;
            }
        }
        .filterButton.currentFilter {
            color: theme.$gray-000;
            background-color: theme.$theme;
            border-color: theme.$theme;
            box-shadow: none;
        }
    }
}

.content {
    flex-grow: 1;
    width: 100%;
    min-height: 300px;
    border-top: 1px solid theme.$gray-200;
    border-radius: 6px;
    background-color: theme.$gray-100;

    .task {
        display: flex;
        align-items: center;
        width: 100%;
        height: 50px;
        padding: 0 10px;
        border: 1px solid theme.$gray-200;
        border-top: 0;
        border-radius: 6px;
        background-color: theme.$gray-000;
        box-shadow: inset 0 0 4px 0.1px theme.$gray-100;

        .taskCheck {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 64px;
            height: 24px;
            border: 1.8px solid theme.$theme;
            border-radius: 4px;
            margin: 0 10px;
            font-weight: 600;
            font-size: 16px;
            color: theme.$theme;
            background-color: theme.$gray-000;
            transition: all 400ms;
            cursor: pointer;
        }
        .taskCheck.taskChecked {
            color: theme.$gray-000;
            background-color: theme.$theme;
        }
        .taskCheck.taskHovered {
            color: theme.$gray-000;
            background-color: theme.$important;
            border-color: theme.$important;
        }

        .taskContent {
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            min-width: 200px;
            height: 100%;
            padding: 0 10px;
            font-size: 18px;
            color: theme.$gray-500;
            background-color: transparent;
        }
        .taskContent.taskChecked {
            text-decoration-line: line-through;
            text-decoration-color: theme.$gray-400;
            text-decoration-thickness: 0.8px;
        }

        .taskButton {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 34px;
            height: 34px;
            border-radius: 8px;
            margin-left: 10px;
            transition: all 200ms;
            cursor: pointer;

            svg {
                width: 20px;
                height: 20px;
            }
        }

        .taskRemove {
            @extend .taskButton;
            fill: theme.$gray-000;
            background-color: theme.$theme;

            &:hover {
                border: 1px solid theme.$theme;
                fill: theme.$theme;
                background-color: theme.$gray-000;
                box-shadow: 0 0 5px 1px theme.$theme;
            }
        }

        .taskEdit {
            @extend .taskButton;
            border: 1.8px solid theme.$theme;
            fill: theme.$theme;
            background-color: theme.$gray-000;

            &:hover {
                fill: theme.$gray-000;
                background-color: theme.$theme;
                box-shadow: 0 0 5px 1px theme.$gray-200;
            }
        }

        .hidden {
            display: none;
        }
    }
}
