body {
  background-color: #a7cfff;
  color: #555555;
}

button,
input {
  outline: 0;
  border: none;
}

button {
  cursor: pointer;
}

button>i {
  pointer-events: none;
}

.wrap {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 600px;
  height: 500px;
  padding: 24px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 6px 6px 16px #91bff6;
}

h2 {
  font-size: 28px;
  font-weight: 900;
}

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 24px;
  box-shadow: 0 4px 21px 6px #ececec9e;
}

.todo_form {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.todo_input {
  width: 100%;
  font-size: 16px;
  padding: 12px 14px;
  background-color: #f6f6f6;
  border-radius: 8px;
}

.todo_submit_button {
  background-color: #9dc0e8;
  color: #fff;
  width: 80px;
  margin-left: 12px;
  font-size: 22px;
  border-radius: 8px;
}

.todo {
  margin-top: 106px;
  overflow: auto;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #f2f2f2;
}

.content {
  width: calc(100% - 165px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.content>input[type='checkbox'] {
  transform: scale(1.5);
  margin-left: 10px;
}

.content>label {
  font-size: 16px;
  margin-left: 20px;
  padding-top: 4px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2;
}

.content>input[type='text'] {
  font-size: 16px;
  margin-left: 20px;
  padding-top: 4px;
  padding-left: 0;
  width: 100%;
}

.item_buttons {
  flex-shrink: 0;
}

.item_buttons>button {
  width: 42px;
  height: 42px;
  color: #555555;
  font-size: 14px;
  border-radius: 8px;
}

.item_buttons>.todo_favorite_button {
  background-color: #FFF3CF;
  margin-right: 8px;
}

.item_buttons>.todo_favorite_button i {
  display: none;
  color: #E8C872;
}

.item_buttons>.todo_favorite_button.inactive i.far {
  display: block;
}

.item_buttons>.todo_favorite_button.active i.fas {
  display: block;
}

.item_buttons>.todo_edit_button,
.item_buttons>.todo_edit_confirm_button {
  background-color: #bad4f5;
  color: #637A9F;
  margin-right: 8px;
}

.todo_checkbox {
  appearance: auto !important;
}

.hide {
  display: none;
}

.pagination {
  position: absolute;
  left: 50%;
  bottom: 15px;
  transform: translateX(-50%);
  display: flex;
}

.pagination button {
  width: 50px;
  height: 30px;
  color: #bad4f5;
  background: #fff;
  border: 1px solid #bad4f5;
  margin: 0 2px;
  font-weight: 700;
  border-radius: 6px;
}

.pagination div.empty {
  width: 50px;
  height: 30px;
  margin: 0 2px;
}