/* ---------------------------------------------- */
/* Icon Font                                      */
/* ---------------------------------------------- */

@font-face {
  font-family: 'coupang-navigation-icon-font';
  src: url('../../assets/navigation-icon-font/fonts/coupang-navigation-icon-font.eot?kqspp7');
  src: url('../../assets/navigation-icon-font/fonts/coupang-navigation-icon-font.eot?kqspp7#iefix') format('embedded-opentype'),
    url('../../assets/navigation-icon-font/fonts/coupang-navigation-icon-font.ttf?kqspp7') format('truetype'),
    url('../../assets/navigation-icon-font/fonts/coupang-navigation-icon-font.woff?kqspp7') format('woff'),
    url('../../assets/navigation-icon-font/fonts/coupang-navigation-icon-font.svg?kqspp7#coupang-navigation-icon-font') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'coupang-navigation-icon-font' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-appliances:before {
  content: "\e900";
}

.icon-baby:before {
  content: "\e901";
}

.icon-beauty:before {
  content: "\e902";
}

.icon-book:before {
  content: "\e903";
}

.icon-car:before {
  content: "\e904";
}

.icon-clothes:before {
  content: "\e905";
}

.icon-foods:before {
  content: "\e906";
}

.icon-houseware:before {
  content: "\e907";
}

.icon-interior:before {
  content: "\e908";
}

.icon-kitchenware:before {
  content: "\e909";
}

.icon-pet:before {
  content: "\e90a";
}

.icon-sports:before {
  content: "\e90b";
}

.icon-stationery:before {
  content: "\e90c";
}

.icon-theme:before {
  content: "\e90d";
}

.icon-toy:before {
  content: "\e90e";
}

.icon-travel:before {
  content: "\e90f";
}