body {
  height: 1024px;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  background: var(--color-white);
}


/* ---------------------------------------------- */
/* 헤더                                            */
/* ---------------------------------------------- */

header.header {
  border-bottom: 1px solid var(--color-gray-100);
  user-select: none;
}

.header__inner {
  width: 1200px;
  height: 117px;
  margin: 0 auto;
}

button.button--category {
  width: 110px;
  height: 116px;
  border: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  color: var(--color-white);
  background-color: var(--color-blue-600);
}

.button--category:focus {
  outline: none;
  border-radius: 4px;
  box-shadow: 0 0 1px 1px var(--color-red-500);
}


/* ---------------------------------------------- */
/* 내비게이션                                        */
/* ---------------------------------------------- */

nav.navigation {
  width: 1200px;
  height: 520px;
  margin: 0 auto;
  display: none;
  user-select: none;
}

.navigation.is--active {
  display: block;
}

.navigation__inner {
  width: 1020px;
  padding: 0px 480px 20px 0px;
  position: relative;
}

ul.navigation__list {
  width: 180px;
  height: 500px;
  margin: 0;
  padding: 10px 5px;
  list-style: none;
  background: var(--color-white);
  box-shadow: 0px 4px 4px 0px var(--color-opacity-20);
  position: absolute;
}

.navigation__list.depth-two,
.navigation__list.depth-three {
  top: 0;
  left: 180px;
  display: none;
}

.navigation__list.is--active {
  display: block;
}

.navigation__list::after {
  content: "";
  width: 1px;
  height: 500px;
  border-right: 1px solid var(--color-gray-100);
  position: absolute;
  top: 0;
  right: 0;
}

.navigation__list.depth-three::after {
  display: none;
}

li.navigation-list-item {
  width: 170px;
  height: 30px;
  padding: 1px 0px 1px 20px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.navigation-list-item i {
  font-size: 20px;
}

.navigation-list-item a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

a.navigation-item-button {
  gap: 4px;
  cursor: pointer;
}

a.navigation-item-button.is--active,
a.navigation-item-button:focus,
a.navigation-item-link:hover,
a.navigation-item-link:focus {
  font-weight: 700;
  color: var(--color-blue-600);
}

a.navigation-item-button.is--active,
a.navigation-item-button:focus {
  background-image: url(../../assets/icon/more-right-active.svg);
  background-repeat: no-repeat;
  background-position: top 50% right 12px;
}


/* ---------------------------------------------- */
/* 메인 콘텐츠                                       */
/* ---------------------------------------------- */
/* 메인 콘텐츠 영역의 최소 높이 설정 */
.main {
  min-height: 52rem;
}


/* ---------------------------------------------- */
/* 푸터                                            */
/* ---------------------------------------------- */


/* footer menu */

.footer-menu {
  height: 40px;
  background: var(--color-gray-200);
}

.footer-menu-bar {
  width: 1006px;
  height: 35px;
  margin: 3px auto 2px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  user-select: none;
}

.footer-menu-item {
  color: var(--color-gray-800);
  cursor: pointer;
}


/* footer info */

.footer-info {
  height: 207px;
}

.footer-info-layout {
  width: 1200px;
  height: 143px;
  margin: 32px auto;
  padding-right: 2px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 63px;
  color: var(--color-gray-800);
  font-size: 16px;
  line-height: 120%;
}

.footer-logo {
  width: 176px;
  height: 40px;
  background-image: url(../../assets/logo/logo-mono.svg);
  text-indent: 500%;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.footer-business-info {
  width: 260px;
  height: 143px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 15.8px;
  line-height: 120%;
}

.footer-business-info li {
  width: 260px;
}

.footer-customer-center {
  width: 293px;
  height: 143px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-customer-center-one {
  height: 19px;
  display: flex;
  justify-content: space-between;
}

.footer-customer-center-one-text-one {
  font-weight: 700;
}

.footer-customer-center-one-text-two {
  padding-left: 15px;
  border-left: 1px solid var(--color-gray-800);
}

.footer-customer-center-two {
  width: 246px;
  height: 58px;
  margin-bottom: 4px;
  font-size: 48px;
  font-weight: 700;
  line-height: 120%;
}

.footer-customer-center-three,
.footer-customer-center-four {
  height: 19px;
}

.footer-payment-guarantee {
  width: 282px;
  height: 84px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-payment-guarantee p {
  margin: 0;
}

.footer-payment-guarantee-title {
  font-weight: 700;
}


/* footer copyright */

.footer-copyright {
  height: 102px;
  background: var(--color-gray-900);
  color: var(--color-gray-200);
  font-weight: 300;
  display: flex;
}

.footer-copyright-layout {
  width: 1020px;
  height: 70px;
  margin: 14px auto;
  display: flex;
  align-items: flex-end;
  gap: 40px;
}

p.footer-copyright-text {
  width: 858px;
  height: 70px;
  margin: 0;
}

.footer-copyright-sns {
  display: flex;
  gap: 10px;
}

.footer-copyright-sns-instagram {
  background: linear-gradient(#285AEB, #BC1888, #CC2366, #DC2743, #E6683C, #F09433);
  border-radius: 50%;
}