/* 오늘의 쇼핑 제안 */

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}

.container {
    width: 1022px;
    height: 442px;
    margin: 100px auto;
}

header {
    margin: 0 auto 48px 2px;
}

header h1.logo {
    margin: 0;
}

header picture {
    width: 176px;
    height: 40px;
}

section#shopping-offer {
    width: 1022px;
    height: 354px;
}

.section-title {
    display: flex;
    width: 234px;
    align-items: center;
}

.section-title .title-icon {
    width: 30px;
    height: 30px;
    background-image: url(../../assets/icon/shopping.svg);
}

.section-title h2 {
    margin: 0;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 115%;
}

.products {
    margin: 24px auto 30px;
    display: flex;
    gap: 5px;
}

.product-card {
    width: 200px;
    height: 270px;
    padding: 14px 14px auto 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    position: relative;
}

.product-discount {
    width: 53px;
    height: 30px;
    border-radius: 0px 0px 4px 0px;
    background: var(--color-red-500);
    color: var(--color-white);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
}

.product-img {
    width: 160px;
    height: 160px;
}

.product-description {
    width: 172px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.product-description p {
    margin: 0;
}

.product-name,
p.product-delivery,
.product-review-count {
    font-size: 14px;
    font-style: normal;
    line-height: 120%;
}

.product-name {
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.product-info {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

p.product-delivery {
    height: 16px;
    font-weight: 500;
    color: var(--color-gray-700);
}

img.product-delivery {
    width: 55px;
    height: 16px;
}

.product-review {
    display: flex;
    align-items: center;
    gap: 4px;
}

.product-rating {
    width: 68px;
    height: 12px;
    background-image: url(../../assets/sprites/rating-stars.png);
}

.product-rating.five-stars {
    background-position: bottom;
}

.product-rating.four-and-half-stars {
    background-position: 50% 90%;
}

.product-rating.four-stars {
    background-position: 50% 80%;
}

.product-review-count {
    color: var(--color-gray-700);
    font-weight: 400;
}