* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    user-select: none;
}

body {
    background: var(--bg-white);
    font-family: 'Open Sans';
    font-weight: 300;
    text-align: center;
}

.heading {
    margin-top: 30px;
    padding: 50px;
    color: var(--heading-green);
    font-weight: 400;
}

.title {
    color: var(--heading-brown);
    font-weight: 400;
}

.container {
    padding: 20px 60px;
    display: inline-flex;
    flex-direction: column;
    gap: 20px;
}

.calendar {
    width: 300px;
}

.date-picker {
    width: 300px;
}