/* Theme Colors */

:root {
    --bg-white: #FBF9F1;
    --heading-green: #597E52;
    --heading-brown: #B19470;
    --theme-green: #88AB8E;
    --theme-white: #fff;
    --font-gray: #A9A9A9;
    --font-black: #141414;
    --font-red: #B80000;
    --font-bold: 400;
    --calendar-box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);
}