/* 오늘의 발견 */

body {
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
    background: var(--white);
}

.container {
    width: 1020px;
    height: 1098px;
    margin: 100px auto 242px;
}

header {
    padding-bottom: 48px;
    text-align: left;
}

h1.logo {
    margin: 0;
}

.section-title {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.section-title h2 {
    font-size: 24px;
}

.section-title h3 {
    font-size: 18px;
    color: var(--darkgray);
}

.section-title h4 {
    font-size: 16px;
    color: var(--darkgray);
}

.products {
    width: 1036px;
    height: 962px;
}

.product {
    margin: 0 16px 16px 0;
    padding: 20px;
    border: 1px solid var(--gray);
    float: left;
    position: relative;
    cursor: pointer;
}

.product.big-box {
    width: 502px;
    height: 310px;
}

.product.sml-box {
    width: 243px;
    height: 310px;
}

button.purchase {
    width: 42px;
    height: 42px;
    padding: 0;
    border: 0;
    position: absolute;
    z-index: 10;
    bottom: 20px;
    left: 20px;
    background: var(--black-gradient);
    color: var(--lightgray);
    font-size: 14px;
    line-height: 120%;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

.product:hover,
.product:focus {
    border: 1px solid var(--blue);

    button.purchase {
        width: 112px;
        height: 42px;
        background: var(--blue);
        transition: background 1.5s;
    }

    button.purchase::before {
        content: "구매하기";
        color: var(--white);
    }
}