:root {
    --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    --color-white: rgb(255, 255, 255);
    --color-gray-100: rgb(250, 250, 250);
    --color-gray-300: rgb(219, 219, 219);
    --color-gray-600: rgb(115, 115, 115);
    --color-blue-500: rgb(0, 149, 246);
    --color-blue-600: rgb(24, 119, 242);
    --color-blue-800: rgb(0, 55, 107);
    --opacity-disabled: 0.7;
}