@font-face {
    font-family: "SF Pro Display Regular";
    src: url(../fonts/SF-Pro-Display-Regular.otf);
}

@font-face {
    font-family: "SF Pro Display Semibold";
    src: url(../fonts/SF-Pro-Display-Semibold.otf);
}