* {
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wrap {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* ---------- heading ---------- */

h2 {
  text-align: center;
  color: #979dac;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 60px;
}

/* ---------- carousel ---------- */

.scene {
  position: relative;
  width: 300px;
  height: 200px;
  border: 1px solid #d3d3d3;
  margin: 10px auto;
  perspective: 1000px;
}

.carousel {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateZ(-412px) rotateY(0deg);
  transform-style: preserve-3d;
  transition: transform 1s;
}

.carousel_cell {
  position: absolute;
  width: 270px;
  height: 170px;
  left: 15px;
  top: 15px;
  border: 1px solid #979dac;
  line-height: 178px;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  color: #fff;
}

.carousel_cell:nth-child(9n+1) {
  background: #99c1decc;
}

.carousel_cell:nth-child(9n+2) {
  background: #bcd4e6cc;
}

.carousel_cell:nth-child(9n+3) {
  background: #d6e2e9cc;
}

.carousel_cell:nth-child(9n+4) {
  background: #f0efebcc;
}

.carousel_cell:nth-child(9n+5) {
  background: #dbe7e4cc;
}

.carousel_cell:nth-child(9n+6) {
  background: #c5deddcc;
}

.carousel_cell:nth-child(9n+7) {
  background: #fad2e1cc;
}

.carousel_cell:nth-child(9n+8) {
  background: #fde2e4cc;
}

.carousel_cell:nth-child(9n+9) {
  background: #eddcd2cc;
}

/* ---------- button ---------- */

.buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.next_button,
.prev_button {
  background: #979dac;
  color: #fff;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  font-size: 24px;
  cursor: pointer;
}