.calculator {
    border: 1px solid #1c1c1c;
    border-radius: 12px;
    overflow: hidden;
}

.display {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 300px;
    height: 120px;
    padding: 14px;
    background-color: #1c1c1c;
    color: #ffffff;
    font-size: 30px;
    line-height: 1;
}

.keypad {
    display: grid;
    grid-template-columns: 4;
    grid-template-rows: 5;
    grid-template-areas:
        'ac ac ac d'
        'seven eight nine m'
        'four five six s'
        'one two three a'
        'z z p e';
    width: 300px;
    height: 300px;

    .keypad__key {
        border: 0.5px solid #202020;
        font-size: 24px;
        font-weight: 400;
        background-color: #505050;
        transition: filter 0.1s;

        &:hover,
        &:focus {
            filter: brightness(1.2);
        }
    }

    .keypad__key__orange {
        font-size: 28px;
        font-weight: 500;
        background-color: #ff9500;
    }
}
