/* 헤더 */

body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}


/* login-bar */

.login-bar {
    width: 100%;
    height: 34px;
    background: var(--color-gray-100);
}

.login-bar-items {
    width: 1020px;
    height: 100%;
    margin: 5px auto;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.login-bar-item {
    width: max-content;
    user-select: none;
    cursor: pointer;
}

.login-bar-item:first-child {
    margin-left: 744px;
}


/* grid container */

.container {
    width: 1020px;
    height: 116px;
    margin: auto;
    display: grid;
    grid-template-rows: 74px 1fr;
    grid-template-columns: 110px 216px 575px 1fr;
    grid-template-areas:
        "category logo search buttons"
        "category menu menu buttons"
    ;
}


/* category */

button.button--category {
    grid-area: category;
    width: 110px;
    height: 116px;
    padding: 30px 32.5px;
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: var(--color-white);
    background-color: var(--color-blue-600);
    background-image: url(../../assets/icon/hamburger.svg);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: top 30px center;
}


/* logo */

h1.logo {
    grid-area: logo;
    width: 176px;
    height: 40px;
    margin: 34px 0 0 40px;
    background-image: url(../../assets/logo/logo.svg);
    background-size: 176px 40px;
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

h1.logo a {
    width: 176px;
    height: 40px;
}


/* search */

form.search {
    grid-area: search;
    width: 516px;
    height: 44px;
    margin: 30px 29px 0 30px;
    border: 2px solid var(--color-blue-600);
    position: relative;
    display: flex;
}

.search select {
    width: 135px;
    height: 40px;
    padding: 13px;
    border: 0;
    appearance: none;
    color: var(--color-gray-700);
    background-color: transparent;
    cursor: pointer;
}

svg.select-arrow {
    position: absolute;
    left: 94px;
    z-index: -1;
}

.search input {
    width: 301px;
    height: 40px;
    margin: 0;
    padding: 13px 10px;
    border: 0;
    border-left: 1px solid var(--color-gray-100);
    color: var(--color-gray-900);
}

.search input::placeholder {
    color: var(--color-gray-600);
}

.search button {
    width: 40px;
    height: 40px;
    padding: 0;
    border: 0;
    background-color: var(--color-white);
    background-position: center;
}

button.voice-search {
    background-image: url(../../assets/icon/mic.svg);
}

button.keyword-search {
    background-image: url(../../assets/icon/search.svg);
}


/* buttons */

.side-buttons {
    grid-area: buttons;
    margin-left: 15px;
    display: flex;
    gap: 14px;
}

.myCoupang,
.cart {
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-buttons button {
    width: 45px;
    height: 54px;
    padding: 0;
    border: 0;
    background-color: var(--color-white);
    background-repeat: no-repeat;
    background-position: top 5px center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    cursor: pointer;
}

button.mycoupang-button {
    background-image: url(../../assets/icon/my-coupang.svg);
}

ul.mycoupang-links {
    display: none;
    list-style: none;
    padding: 0;
}

.myCoupang.is--active {
    ul.mycoupang-links {
        width: 90px;
        height: 130px;
        position: absolute;
        top: 126px;
        border: 1px solid var(--color-gray-300);
        background: var(--color-white);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    ul.mycoupang-links::before {
        content: "";
        border-top: 0;
        border-bottom: 8px solid var(--color-white);
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        position: absolute;
        bottom: 100%;
        z-index: 1;
    }

    ul.mycoupang-links::after {
        content: "";
        border-top: 0;
        border-bottom: 10px solid var(--color-gray-300);
        border-right: 6.25px solid transparent;
        border-left: 6.25px solid transparent;
        position: absolute;
        bottom: 100%;
    }
}

.cart {
    position: relative;
    justify-content: flex-end;
}

button.cart-button {
    background-image: url(../../assets/icon/cart.svg);
}

.cart-count {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: var(--color-blue-600);
    color: var(--color-white);
    text-align: center;
    position: absolute;
    top: 30px;
    right: 2.5px;
}

.cart-message {
    display: none;
}

.cart.cart--empty {
    .cart-message {
        width: 288px;
        height: 90px;
        position: absolute;
        top: 100px;
        right: 6px;
        border: 1px solid var(--color-gray-300);
        background: var(--color-white);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cart-message::before {
        content: "";
        border-top: 0;
        border-bottom: 8px solid var(--color-white);
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        position: absolute;
        bottom: 100%;
        right: 10px;
        z-index: 1;
    }

    .cart-message::after {
        content: "";
        border-top: 0;
        border-bottom: 10px solid var(--color-gray-300);
        border-right: 6.25px solid transparent;
        border-left: 6.25px solid transparent;
        position: absolute;
        bottom: 100%;
        right: 9px;
    }
}


/* menu */

nav.menu-list {
    grid-area: menu;
    width: 755px;
    height: 26px;
    margin: 10px 0 6px 36px;
}

ul.menu-items {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 2px;
    list-style: none;
}

li.menu-item {
    width: auto;
    height: 26px;
    padding: 6px 14px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.menu-item-content {
    display: flex;
    align-items: center;
    gap: 4px;
}

li.menu-item:nth-last-child(3) {
    width: 73px;
    padding: 6px 7px 6px 6px;
}

li.menu-item:nth-last-child(2) {
    width: 73px;
    padding: 6px 20px 6px 19px;
}