* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    color: inherit;
    outline-color: inherit;
    text-decoration-color: inherit;
    text-decoration: none;
    list-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
    line-height: 1.2;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

body {
    width: 100%;
    height: 100vh;
    padding: 20px;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1,
h2 {
    margin: 30px;
    font-weight: bold;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
}

li {
    list-style-type: square;
    font-size: 20px;
}

hr {
    width: 60%;
    border: 0.1px solid #a0a0a0;
    margin: 30px;
}
